<form
  action=" <%= '/seller/'+ Expense.expense_id +'/editExpense' %>" method="POST"
  >
  <div>
    <label class="form-label">
      Expense ID:
    </label>
      <input
        class="form-control"
        type="text"
        name="expense_id"
        value="<%= Expense[0].expense_id %>"
        readonly
      />
  </div>
  <div>
    <label class="form-label">
      Amount:
    </label>
    <input
      class="form-control"
      type="text"
      name="amount"
      value="<%= Expense.amount%>"  
    />    
  </div>

  <div>
    <label class="form-label">
      Date:
    </label>
    <input
      class="form-control"
      type="date"
      name="date"
      value="<%= Expense.date %>"
    />
  </div>

  <button type="submit" class="btn btn-primary">Edit</button>
</form>
