
<h1>Almost there!!</h1>


<form action="/checkSeller" method="POST">
    <div class="mb-3">
        <label for="sellerEmail" class="form-label">Enter your Email:</label>
        <input type="email" class="form-control" id="sellerEmail" name="sellerEmail" placeholder="Email" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>